<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Eventos</title>
</head>
<body>
    <h3>Meus eventos</h3>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Horas</th>
            <th>Organização</th>
            <th>Certificado</th>
        </tr>
        </thead>
        <tbody>
            <% Subs.forEach(function(sub){ %>
               
              <% Event.forEach(function(event){ %>
                <% if (event.id == sub.eventId) { %>       
                    <tr> 
                    <th><%= event.name %></th>
                    <th><%= event.date %></th>
                    <th><%= event.hours %></th>
                    <th><%= event.organization %></th>
                    <!-- Fazer teste se o certificado tá liberado para o participante  -->
                    <th>
                    <button>
                        <a href="/user/event/print/emit/<%= event.id %>" target="_blank" >Imprimir certificado</a>
                    </button>
                    </th>  
                </tr>
                    <% } %>   
                    <%}) %> 
                                                              <%}) %> 
        </tbody>
    </table>
    
    
    <br>
</body>
</html>